html, body {
  left: 0;
  margin: 0;
  background:white;
  height:100%;
}

p{
  font-family:calibri;
  padding-left:10px;
}

#container{
  margin: 0 auto;
  width:600px;
  padding-top:50px;
}

.one{
  
  width:50%;
  height:400px;
  float:left;
}
.two{
  width:50%;
  height:400px;
 
  overflow:hidden;
}

